<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- -------------------- fontawesome css link -------------------- -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- -------------------- coustom css link -------------------- -->
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="main_signUp">
        <div class="card">
            <div class="icon">
                <img src="/images/Launching 1.png" alt="Launching">
            </div>
            <h1><%= title %></h1>
            <p>You are welcome!</p>
            <form action="/auth/signUp" method="post" class="userForm">
                <label for="name">Your name</label>
                <div class="name_inp">
                    <div class="firstName">
                        <input required="true" name="firstName" type="text" id="name" placeholder="First name " >
                        <i class="fa-regular user_icon fa-user"></i>
                    </div>
                    <div class="lastName">
                        <input required="true" name="lastName" type="text" placeholder="Last name">
                        <i class="fa-regular user_icon fa-user"></i>
                    </div>
                </div>
                <label for="email">E-mail</label>
                <div class="email_inp">
                    <input required="true" class="myInput" name="email" type="email" id="email" placeholder="Email" >
                    <i class="fa fa-solid email_icon fa-envelope my_icon"></i>
                </div>
                <label for="phone">Phone numbers</label>
                <div class="phone_inp">
                    <input required="true" class="myInput" name="phone" type="text" id="phone" placeholder="(+01)" >
                    <i class="fa-solid phone_icon fa-phone my_icon"></i>
                </div>
                <label for="password">Password</label>
                <div class="password_inp">
                    <input required="true" class="myInput" name="password" type="password" id="password" placeholder="Password" >
                    <i class="fa password_icon fa-solid fa-eye my_icon"></i>
                </div>
                <label for="confirm_password">Confirm Password</label>
                <div class="confirm_password_inp">
                    <input required="true" class="myInput" name="confirm_password" type="password" id="confirm_password" placeholder="Confirm password" >
                    <i class="fa confirm_password_icon fa-solid fa-eye my_icon"></i>
                </div>
                <input class="signUpbtn" type="submit" value="Sign up">
                <div class="check_box">
                    <input required type="checkbox" name="check" id="check">
                    <label for="check">I agree with terms & conditions</label>
                </div>
                <div class="loginWitScAcc">
                    <a class="google_icon my_btn" href="#"><img src="/images/image 157.png" alt="google_icon">Google account</a>
                    <a class="my_btn" href="#"><span> <i class="fa-brands fa-facebook"></i> </span> Facebook account</a>
                </div>
                <p>Already have an account?<a href="#">Sign in</a></p>
            </form>
        </div>
    </section>
</body>
</html>