<footer>
    <div class="footer">
        <p>Copyright &copy; 2025 All rights reserved (Created By Liton Das)</p>
    </div>
</footer>
<!-- -------------------- footer section end ------------------------- -->
<!-- -------------------- bootstrap cdn link ------------------------- -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<!-- -------------------- coustom js link ------------------------- -->
 <script src="../../js/coustom.js"></script>
</body>
</html>