<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <!-- -------------------- bootstrap cdn link -------------------- -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <!-- -------------------- fontawesome css link -------------------- -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- -------------------- coustom css link -------------------- -->
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
