<%- include('../incloudes/head.ejs') %>
<!-- -------------------- navbar section start ------------------------- -->
<%- include('../incloudes/navbar.ejs') %>
    <h1>Dashboard</h1>
<%- include('../incloudes/footer.ejs') %>